.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.contact__content {
    display: flex;
    flex-direction:column;
    gap: 1rem;
    align-items: center;
}

.contact__title {
  font-size: var(--size--2xl);
  color: var(--clr-dark);
}

.contact__description {
    max-width: 60ch;
    font-size: var(--size--sm);
    color: var(--clr-slate600);
    text-align: center;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

/* LEFT SIDE INFO */
.contact__details p {
  color: var(--clr-dark);
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.icon svg {
  width: 22px;
  height: 22px;
  color: var(--clr-slate600);
}

/* Social icons */
.contact__socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.contact__socials a svg {
  width: 26px;
  height: 26px;
  color: var(--clr-slate600);
  transition: 0.25s;
}

.contact__socials a:hover svg {
  color: var(--clr-indigo);
  transform: scale(1.15);
}

/* RIGHT SIDE FORM */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: var(--clr-dark);
  background: transparent;
  border: 2px solid var(--clr-rose);
  border-radius: 10px;
  outline: none;
}

.contact__form input:focus,
.contact__form textarea:focus {
  border-color: var(--clr-slate400);
}

/* Send button */
.contact__button.btn {
  width: 100%;
  border-radius: 10px;
  padding: 0.9em 1.5em; 
  font-size: 1rem;
}

.contact__button:hover {
  background: var(--clr-indigo);
  
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--clr-rose);
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  font-size: 0.9rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 520px) {
  .contact {
    padding: 3rem 1rem;
  }

  .contact__title {
    font-size: 1.6rem;
  }
}


/* xs */
@media (min-width: 475px) {
.contact__title {
    font-size: var(--size--3xl);
} 

.contact__description {
    font-size: var(--size--base);
}
}

/* sm */
/* @media (min-width: 640px) {
    
} */

/* md */
@media (min-width: 768px) {
   .contact__wrapper {
    grid-template-columns: 1fr 1fr;
  } 
}

/* lg */
@media (min-width: 1024px) {
    .contact__title {
    font-size: var(--size--4xl);
} 
.contact__description {
    font-size: var(--size--lg);
}
.contact__details p {
  font-size: 1.1rem;
}
}

/* xl */
@media (min-width: 1280px) {
.contact__title {
    font-size: var(--size--5xl);
}    
.contact__description {
    font-size: var(--size--xl);
}
}

/* 2xl */
/* @media (min-width: 1536px) {
    
} */