
/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
    
} */

/* md */
/* @media (min-width: 768px) {
    
} */

/* lg */
/* @media (min-width: 1024px) {
    
} */

/* xl */
/* @media (min-width: 1280px) {
    
} */

/* 2xl */
/* @media (min-width: 1536px) {
    
} */

.btn {
    text-decoration: none;
    background-color: var(--clr-rose);
    color: #faf9f7;
    padding: 0.5em 0.5em;
    transition: transform 0.3s , box-shadow 0.3s ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;      
    font-size: 0.85rem;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s ease;
}

.btn:hover {
    transform: scale(1.03);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
}

.section {
    margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
    margin-top: 10rem;
}
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}